@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Shelfy!</h1>
    <p>Many bookworms over the years have suffered the injustice of double-bought books and loaned copies lost forever.</p>
    <p><strong>Not anymore!</strong></p>
    <p>Welcome to Shelfy, your favorite new personal library solution.</p>
    <p>Simply manage your authors and books, and check out the genres page to see your favorite genres.</p>
</div>
